* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 100px 10% 0;
  font-family: "Trebuchet MS", "Arial", "Times New Roman";
  font-size: 36px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: white;
}

#top {
  display: flex;
}

#left {
  width: 30%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #94f2ab;
  padding-top: 40px;
}

#right {
  width: 70%;
}

#header {
  height: 100px;
  background: #77dcf2;
  display: flex;
  align-items: center;
  padding-left: 25%;
}

#content {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2ec94;
  padding-bottom: 60px;
}

#footer {
  display: flex;
}

#footer__content {
  width: 70%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2dbae;
}

#footer__image {
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e794f2;
}
